<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="./css/views/dashboard/welcome.css">
<link rel="stylesheet" href="./css/views/dashboard/dashboard.css">
<script src="./js/views/dashboard.js"></script>
<title><%= title %></title>
</head>
<body>
    <div class="welcome-card">
        <span id='welcome-sign'><%= user.userName %>, <span class="welcome"><%= dbStrings['WELCOME'] %></span></span>
    </div>
    <main>
        <!-- User -->
        <div id="user">
            <div id="user-click-handler">
                    <span id="user-name"><%= user.userName %></span>
            </div>
            <ul id="user-dropdown">
                <li><a href="user/settings"><%= dbStrings['SETTINGS'] %></a></li>
                <li><a href="/logout"><%= dbStrings['LOGOUT'] %></a></li>
            </ul>
        </div>
        <!-- ToDo -->
        <section class="todo">
            <div class="inputs">
                <button id="open-form-toogle"></button>
                <button id="reload-list"></button>
            </div>
            <div class="list"><!-- Todo-list entries will go here --></div>
            <form action="/api/todo" id="addItem" method="POST">
                <input type="text" name="title" placeholder=<%= dbStrings['TITLE'] %> />
                <input type="text" name="description" placeholder=<%= dbStrings['DESCRIPTION'] %> />
                <input type="submit" value="">
            </form>
        </section>

    </main>
</body>
</html>