    <%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="./css/views/login.css">
    <title><%= title %></title>
</head>
<body>
    <div class="login">
        <h2><%= dbStrings['HELLO'] %></h2>
        <% if (dbStrings['YOU_CAN_LOGIN_WITH']) { %>
            <p class="login-text"><%= dbStrings['YOU_CAN_LOGIN_WITH'] %></p>
        <% } %>
        <div class="login-with">
            <a href='/auth/google' class="btn google"><%= dbStrings['LOGIN_WITH'] %> Google</a>
            <a href='/auth/facebook' class="btn facebook"><%= dbStrings['LOGIN_WITH'] %> Facebook</a>
            <a href='/auth/github' class="btn github"><%= dbStrings['LOGIN_WITH'] %> GitHub</a>
        </div>
        <a href="/about" class="about-link">About</a>
    </div>
</body>
</html>